#main-nav {  
    float: left;
    width: 100%;
    background-color: #333;}

#main-nav ul {  
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    left:50%;
    display: flex;}

#main-nav ul li{   
    float: left;
    position: relative;
    right: 50%;}

#main-nav ul li a {   
    padding: 10px 25px;
    display: block;
    text-decoration: none;
    color: #ccc;}

#main-nav ul li a:hover {   
    background-color: #ccc;
    color: #333;}



#header h1 {  
    position: static;
    left: 420px;
    top:5px;
    font-size: 3em;
    font-family: Monospace, Helvetica, sans-serif;
    color: #f71616;}

footer {  
    background-color: #777;
    height: 80px;
    clear: both;}


body {
      width: 100%;
      background-image: url("../images/background.jpg"); }

#main-content{   min-height: 300px;
    width: 715px;
    margin-right: 30px;
    float: left;
    margin-left: 15px;
    color: #dcdcdc;}


.image-r {   
    float: left;
    border: 5px solid rgb(61, 61, 61);
    width: 300px;
    padding: 5px;
    margin: 10px 0 10px 20px;}


strong { 
    font-weight: 30;
    font-size: 20px;}

@media screen and (min-width: 480px) and (max-width: 768px) {
  ul {flex-direction: column;}
}